# SVD++

In [1]:
from surprise import SVDpp
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

In [2]:
# Load the dataset
data = Dataset.load_builtin('ml-100k')

In [3]:
# Split the dataset into training and testing sets
trainset, testset = train_test_split(data, test_size=.25)

In [4]:
# Use SVD++ algorithm to fit the training set
algo = SVDpp()
algo.fit(trainset)

In [5]:
# Predict the ratings for the testing set
predictions = algo.test(testset)

In [6]:
# Calculate the accuracy metrics
accuracy.rmse(predictions)
accuracy.mae(predictions)

RMSE: 0.9291
MAE:  0.7281

0.7280528275091778

# Costom dataset

In [8]:
import numpy as np
import pandas as pd
from surprise import SVDpp
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate, train_test_split

In [9]:
# Load the dataset into a Pandas DataFrame
data = pd.read_csv('solar_clean_data.csv')
data.head(5)

,Date,Total Generation (KWH),Insolation,Grid Failure,Inverter,Module Cleaning,Rainy day,Transformer replacement and maintenance,Cable and Fuse maintenance,Plant Shutdown,Internet,Battery,Cloudy
0,06-07-2012,3218.0,9.37536,1,0,0,0,0,0,0,0,0,0
1,07-07-2012,3633.0,9.37536,1,0,0,0,0,0,0,0,0,0
2,08-07-2012,4377.0,9.37536,0,1,0,0,0,0,0,0,0,0
3,09-07-2012,4625.0,9.37536,0,1,0,0,0,0,0,0,0,0
4,10-07-2012,648.0,9.37536,0,1,0,0,0,0,0,0,0,0

In [10]:
data=data[['Total Generation (KWH)','Grid Failure','Cloudy']]
data.head(5)

   Total Generation (KWH)  Grid Failure  Cloudy
0                  3218.0             1       0
1                  3633.0             1       0
2                  4377.0             0       0
3                  4625.0             0       0
4                   648.0             0       0

In [11]:
# Define the rating scale (in this example, the range is from 1 to 5)
reader = Reader(rating_scale=(0,1))

In [12]:
# Load the dataset into the Surprise format
dataset = Dataset.load_from_df(data[['Total Generation (KWH)', 'Grid Failure', 'Cloudy']], reader)

In [13]:
# Split the dataset into training and testing sets
trainset, testset = train_test_split(dataset, test_size=.25)

In [14]:
# Train the SVD++ algorithm on the training set
algo = SVDpp()
algo.fit(trainset)

In [18]:
# Test the algorithm on the testing set
predictions = algo.test(testset)

In [16]:
# Calculate the accuracy metrics
rmse = np.sqrt(np.mean((predictions[i].r_ui - predictions[i].est)**2 for i in range(len(predictions))))
mae = np.mean(np.abs(predictions[i].r_ui - predictions[i].est) for i in range(len(predictions)))
print(f"RMSE: {rmse}")
print(f"MAE: {mae}")

TypeError: unsupported operand type(s) for /: 'generator' and 'int'